<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>New Note</h3>
        </div>
        <div class="card-body">
            <form action="/notes/new-note" method="POST">
                <div class="mb-4">
                    <input type="text" name="title" class="form-control" placeholder="Note title" autofocus/>
                </div>
                <div class="mb-4">
                    <textarea name="body" class="form-control" placeholder="Note body"></textarea>
                </div>
                <div class="d-grid gap-2 mb-4">
                    <button class="btn btn-primary" type="submit">Save note</button>
                </div>
            </form>
        </div>
    </div>
</div>
